*.egg
localhost.es
oneliners.py
*.py[co]
*.zip
*~
.*.swp
.DS_Store
.coverage
.eggs
.idea
.vscode
build
cacert.pem
cover
cov_html/
coverage.xml
dist
docs/_build
docs/asciidoc/html_docs/
docker_test/repo/
docker_test/curatortestenv
docker_test/scripts/Dockerfile
elasticsearch_curator.egg-info
elasticsearch_curator_dev.egg-info
html_docs/
index.html
samples
scratch
test/.DS_Store
