*.egg
localhost.es
oneliners.py
*.py[co]
*.zip
*~
.*.swp
.DS_Store
.coverage
.eggs
.idea
.vscode
build
cacert.pem
cover
coverage.xml
dist
docker_test/repo/
docker_test/scripts/Dockerfile
docs/_build
docs/asciidoc/html_docs
elasticsearch_curator.egg-info
elasticsearch_curator_dev.egg-info
html_docs
index.html
msi_guid.txt
nosetests.xml
samples
scratch
test/.DS_Store
wheelhouse
windows
