*.egg
localhost.es
oneliners.py
*.py[co]
*.zip
*~
.*.swp
.DS_Store
.coverage
.eggs
.idea
.vscode
venvs
Elastic.ico
Vagrant/centos/6/.vagrant
Vagrant/centos/7/.vagrant
Vagrant/ubuntu/14.04/.vagrant
build
cacert.pem
cover
coverage.xml
dist
docs/_build
docs/asciidoc/html_docs
elasticsearch_curator.egg-info
elasticsearch_curator_dev.egg-info
index.html
msi_guid.txt
nosetests.xml
samples
scratch
test/.DS_Store
vcruntime140.dll
wheelhouse
windows
