language: python

python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"

env:
  - ES_VERSION=5.6.16
  - ES_VERSION=6.8.13
  - ES_VERSION=7.2.1-linux-x86_64
  - ES_VERSION=7.3.1-linux-x86_64
  - ES_VERSION=7.4.2-linux-x86_64
  - ES_VERSION=7.5.2-linux-x86_64
  - ES_VERSION=7.6.2-linux-x86_64
  - ES_VERSION=7.7.1-linux-x86_64
  - ES_VERSION=7.8.1-linux-x86_64
  - ES_VERSION=7.9.3-linux-x86_64
  - ES_VERSION=7.10.0-linux-x86_64

os: linux

cache:
  pip: true

jdk:
  - openjdk8

before_install:
  - cp requirements.txt ..
  - cd ..
  - pip install -r requirements.txt
  - cd -

install:
  - pip install -U setuptools
  - pip install -r requirements.txt
  - pip install .

script:
  - sudo apt-get update && sudo apt-get install openjdk-8-jdk
  - java -version
  - sudo update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
  - java -version
  - ./travis-run.sh
