language: python

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"

env:
  - ES_VERSION=5.0.2
  - ES_VERSION=5.1.2
  - ES_VERSION=5.2.2
  - ES_VERSION=5.3.3
  - ES_VERSION=5.4.3
  - ES_VERSION=5.5.3
  - ES_VERSION=5.6.16
  - ES_VERSION=6.0.1
  - ES_VERSION=6.1.3
  - ES_VERSION=6.2.4
  - ES_VERSION=6.3.2
  - ES_VERSION=6.4.3
  - ES_VERSION=6.5.4
  - ES_VERSION=6.6.2
  - ES_VERSION=6.7.2
  - ES_VERSION=6.8.2
  - ES_VERSION=7.0.0-linux-x86_64
  - ES_VERSION=7.1.1-linux-x86_64
  - ES_VERSION=7.2.1-linux-x86_64
  - ES_VERSION=7.3.1-linux-x86_64

os: linux

cache:
  pip: true

jdk:
  - openjdk8

before_install:
  - cp requirements.txt ..
  - cd ..
  - pip install -r requirements.txt
  - cd -

install:
  - pip install -U setuptools
  - pip install -r requirements.txt
  - pip install .

script:
  - sudo apt-get update && sudo apt-get install openjdk-8-jdk
  - java -version
  - sudo update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
  - java -version
  - ./travis-run.sh
